*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(175deg, #8B5E3C 0%, #5C4033 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    transform: translateY(-50px);
    opacity: 0;
    animation: slideIn 2s ease forwards;
    filter: brightness(8.0);
    margin-left: 19px;
    margin-top: 40px;
    width: 219px;
    height: 80px;
}
.logo .joon{
    background-color: #2E8B57;
    border: none;
    height: 2px;
    margin-left: 19px;
    width: 215px;
}
@keyframes slideIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.text{
    margin: 20px auto;
    width: 80%;
    line-height: 32px;
    position: relative;
    text-align: left;
    color:#F5F5DC ;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
}
.peatekst{
    letter-spacing: 0.08rem;
    align-content: center;
    margin-top: 62px;
    position: relative;
    width: 100%;
    height: 155px;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;        
}
.algus .lõik{
    margin: 20px auto;
    align-content: center;
    align-items: center;
    width: 85%;
    background-color: #2E8B57;
    border: none;
    height: 3px;
    margin-top: 38px;
}
.algus .sissejuhatus{
    width: 80%;
    color:#F5F5DC ;
    margin: 20px auto;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.08rem;
}
.algus .lõpp{
    margin: 20px auto;
    align-content: center;
    align-items: center;
    width: 85%;
    background-color: #2E8B57;
    border: none;
    height: 3px;  
}
.teenused .pealkiri{
    text-align: center;
    text-transform: uppercase;
    margin-top: 38px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.08rem;
}
.loetelu ul{
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}
.loetelu ul li{
padding-top: 20px;
margin: 20px auto;
width: 80%;
height: 320px;
background: #1A1D21;
border-radius: 30px;
}
.loetelu li h6{
    font-weight: 600;
    font-size: 20px;
    color: #F5F5DC;
    display: flex;
    box-sizing: border-box;
   flex-direction: column;
   align-items: center;
   padding-bottom: 10px;
}
.loetelu .alumine{
    margin:20px 20px;
    font-size: 18px;
}
.loetelu .vähem{
   margin:20px 20px;
    font-size: 18px;
}
.cta-text .cta{
    text-align: center;
    color: #F5F5DC;
    text-transform: uppercase;
    width: 85%;
    margin: 20px auto;
    font-size: 15px;
}
.cta-text button{
    height: 75px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 200px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background-color:#2E8B57;
    border-radius: 25px;
    padding: 5px 0px;
    margin-top: 25px;
}
.cta-text span{
    font-size: 20px;
}
.cta-text{
    text-align: center;
}
.modal-overlay{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-overlay.active{
    opacity: 1;
    pointer-events: all;
}
.modal{
    position: relative;
    background: #2E8B57;
    padding: 10px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
}
.sulgemine{
    position: absolute;
    top: -10px;
    right: 5px;
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
}
.sulgemine:hover{
    color: #FFFFFF;
}
.modal input,
.modal textarea,
.modal select{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit{
    text-transform: uppercase;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    color: #FFFFFF;
    background-color: #5C4033; 
}
.submit:hover{
    border: 2px solid #FFFFFF;
}
input:focus{
    outline: none;
    border: 2px solid #FFFFFF;
}
textarea:focus{
    outline: none;
    border: 2px solid #FFFFFF;
}
select:focus{
    outline: none;
    border: 2px solid #FFFFFF;
}
.tööd-pealkiri{
    width: 100%;
    text-align: center;
}
.tööd{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.tööd .lõpp{
    margin-top: 21px;
    width: 100%;
    background-color: #2E8B57;
    border: none;
    height: 3px;  
}
.tööd h6{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 38px;
}
.wrapper img{
    border-radius: 25px;
    width: 90%;
    height: 290px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    text-align: center;
    position: relative;
    margin-top: 25px;
}
.arrow{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: white 0.2s ease;
    padding: 10px;
    z-index: 10;
}
.arrow:hover{
    color: #2E8B57;
}
.wrapper[data-category="küttekolded"] .arrow.left {
    top: 60%; 
    left: 15px;
}
.wrapper[data-category="küttekolded"] .arrow.right {
    top: 60%; 
    right: 15px; 
}

.wrapper[data-category="viimistlus"] .arrow.left {
    top: 60%;
    left: 15px;
}
.wrapper[data-category="viimistlus"] .arrow.right {
    top: 60%;
    right: 15px;
}

.wrapper .pilt img{
    width: 30px;
    height: 38px;
    font-size: 16px;
    position: absolute;
    transform: translate(-50%, -95%);
    white-space: nowrap;
}
.gallery{
    display: none;
}
#frameGallery{
    width: 275px;
    height: 175px;
    cursor: pointer;
    padding: 20px 20px;
}
#pilt{
    display: none;
}

.kaart-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.kaart img{
    text-align: left;
    width: 120px;
}
.kaart {
    margin: 5px auto;
    text-align: left;
  margin-top: 30px;
  width: 300px;
  height: 150px;
  background: linear-gradient(175deg, #8B5E3C 50%, #5C4033 100%);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
    align-items: center;
  justify-content: center;
  
}
.tutvustus{
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: white;
}
.tutvustus .lõpp{
    margin-bottom: 20px;
    width: 100%;
    background-color: #2E8B57;
    border: none;
    height: 3px; 
}
.kaart h6,
.kaart p {
  margin: 3px 3px;
  color: wheat;
  font-size: 14px;
}
.kaart .email a{
    font-size: 13px;
}
.kaart-info a {
  color: white;
  text-decoration: none;
}
.kaart-info .firma{
    font-weight: 600;
}
.kaart-info a:hover {
  text-decoration: underline;
}
.form{
    justify-content: center;
    background: transparent;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}
.form input,
.form textarea,
.form select{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.päring{
    display: block;
    margin: 20px auto 0 auto;
    text-transform: uppercase;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    color: #FFFFFF;
    background-color: #2E8B57; 
}
.päring:hover{
    border: 2px solid #FFFFFF;
}
input:focus{
    outline: none;
    border: 2px solid #FFFFFF;
}
textarea:focus{
    outline: none;
    border: 2px solid #FFFFFF;
}
select:focus{
    outline: none;
    border: 2px solid #FFFFFF;
}
.esimene{
    margin-top: 25px;
    width: 100%;
    background-color: #2E8B57;
    border: none;
    height: 3px;  
}
.teine{
    width: 100%;
    background-color: #2E8B57;
    border: none;
    height: 3px;  
}
footer p{
    color: #847878;
    text-align: center;
    font-size: 10px;
}
.kontakt-sektsioon {
    display: flex;
    flex-direction: column; /* alguses üksteise all */
    gap: 20px; /* vahe kaardi ja vormi vahel */
    align-items: center;
    margin: 0 auto;
}
@media (min-width: 375px){
    .peatekst .text{
        text-align: center;
    }
}
@media (min-width: 425px){
    .loetelu ul li{
        width: 300px;
        height: 320px; 
    }
}
@media (min-width: 620px){
    .loetelu ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .wrapper img{
        width: 300px;
        height: 320px;
    }
    .kontakt h6{
        text-align: center;
    }
    .form{
        margin: 20px auto;
        width: 75%;
    }
    .kontakt-sektsioon {
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        gap: 20px;
    }

    .kaart, .form {
        width: 300px; 
    }

}
@media (min-width:768px){
    .peatekst .text{
        width: 60%;
        text-align: center; 
    }
    .form{
        width: 60%;
    }
}
@media (min-width:1024px){
    .form{
        width: 50%;
    }
}
